<li class="photos__item" >
    <img class="photos__photo" src="{{src}}">
    <div class="photos__counters">
        <div class="photos__counter">
            <div class="photos__Icon photos__Icon_like">
            </div>
            <div class="photos__counterValue">{{likes}}
            </div>
        </div>
        <div class="photos__counter">
            <div class="photos__Icon photos__Icon_repost">
            </div>
            <div class="photos__counterValue">{{reposts}}
            </div>
        </div>
        <div class="photos__counter">
            <div class="photos__Icon photos__Icon_comment">
            </div>
            <div class="photos__counterValue">{{comments}}
            </div>
        </div>
    </div>
</li>